@page "/TableDemoPage"
@using BlazorApp.Shared;
<h3>TableDemo</h3>
<BlazorApp.Client.Component.Module.DataTable XDataTable="PageModule.XDataTable"></BlazorApp.Client.Component.Module.DataTable>
<BlazorApp.Client.Component.Module.PageBar PageInfo="PageModule.PageInfo"></BlazorApp.Client.Component.Module.PageBar>

@code {
    PageModuleModel<DemoModel> PageModule;

    protected override void OnInitialized()
    {
        PageModule = new PageModuleModel<DemoModel>()
        {
            PageInfo = new PageInfo()
            {
                PageSize = 10,
                CurrentPage = 1,
                PageCount = 20,
                TotalCount = 200
            },
            XDataTable = new XDataTable<DemoModel>()
        };

        PageModule.GetDataUri = "api/demodata";
        Console.WriteLine(PageModule.GetDataUri);

        var data = new List<DemoModel>();
        for (int i = 0; i < PageModule.PageInfo.PageSize; i++)
        {
            data.Add(new DemoModel()
            {
                Name = "New Data " + i,
                AddDate = DateTime.Now.AddMinutes(i),
                PK = Guid.NewGuid()
            });
        }

        PageModule.XDataTable.SetColumnsAndItems(data);

        PageModule.PageInfo.NaviToPage = async (page) =>
        {
            PageModule.PageInfo.CurrentPage = page;
            var newPageData = await PageModule.GetDataAsync();
            Console.WriteLine(page);

            PageModule.XDataTable.SetColumnsAndItems(newPageData);
            this.StateHasChanged();
        };
    }
}
