@page "/TableDemoPage"
@using BlazorApp.Shared;
@inject HttpClient Http
<h3>TableDemo</h3>
<BlazorApp.Client.Component.Module.TableControl PageModule="PageModule"></BlazorApp.Client.Component.Module.TableControl>

@code {
    PageModuleModel<DemoModel> PageModule;

    protected override async Task OnInitializedAsync()
    {
        PageModule = new PageModuleModel<DemoModel>(Http.BaseAddress.AbsoluteUri, () => this.StateHasChanged())
        {
            DataTable = new XDataTable<DemoModel>(),
            FilterBar = new XFilterBar()
            {
                Filters = new List<XFilter>()
            {
                    new XFilter()
                    {
                        FilterCode = "Name",
                        FilterText = "",
                        FilterName = "Full Name",
                        FilterType = FilterType.TextFilter
                    }
                }
            }
        };

        PageModule.PageInfo = new XPageInfo<DemoModel>(PageModule)
        {
            PageSize = 10,
            CurrentPage = 1,
            PageCount = 20,
            TotalCount = 200
        };

        PageModule.GetDataUri = "api/demodata";

        var data = await PageModule.GetDataAsync();
        PageModule.DataTable.SetColumnsAndItems(data);
    }
}
