<!-- Modal -->
<div class="modal fade" id="@WindowID" tabindex="-1" role="dialog" aria-labelledby="@(WindowID+"_Title")" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@(WindowID+"_Title")">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @onclick="()=>SaveChanges?.Invoke()">Save changes</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string WindowID { get; set; }

    [Parameter]
    public Func<bool> SaveChanges { get; set; }
}
