@using BlazorApp.Shared
@typeparam ModelType

@if (PageInfo.PageCount > PageInfo.PageSize)
{
    <button type="button" class="btn btn-light btn-sm" @onclick="(() => NaviTo(1))">@("<<")</button>
}

@for (int i = PageInfo.LeftStartPage; i <= PageInfo.RightEndPage; i++)
{
    int page = i;
    var buttonClass = "";
    if (i == PageInfo.CurrentPage)
    {
        buttonClass = "disabled";
    }
    <button type="button" class="btn btn-light @buttonClass btn-sm" @onclick="(() => NaviTo(page))">@GetFixedNumber(i, PageInfo.PageCount)</button>
}

@if (PageInfo.PageCount > PageInfo.PageSize)
{
    <button type="button" class="btn btn-light btn-sm" @onclick="(() => NaviTo(PageInfo.PageCount))">@(">>")</button>
}

@code {
    [Parameter]
    public XPageInfo<ModelType> PageInfo { get; set; }

    async void NaviTo(int toPage)
    {
        await PageInfo.NaviToPage(toPage);
    }

    string GetFixedNumber(int page, int totalPage)
    {
        return page.ToString().PadLeft(totalPage.ToString().Length, '0');
    }
}
